* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-grey);

}

.card {
    background-color: var(--White);
    width: 600px;
    border-radius: 1rem 1rem 10rem 1rem;
}

.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    gap: 2rem;
}

.block {
    display: flex;
    flex-direction: column;
}

.block label {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 500;
}

input {
    align-items: center;
    display: flex;
    padding: .5rem;
    width: 100px;
    border-radius: .2rem;
    border: 1px solid var(--Light-grey);
    font-size: 1rem;
}

input::placeholder {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--Smokey-grey);
}

.submit-block {
    display: flex;
    align-items: center;
}

.submit-block hr {
    width: 100%;
}

.submit-block button {
    border-radius: 50%;
    border: none;
    background-color: var(--Purple);
    padding: 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.output h1 {
    font-weight: 800;
    font-size: 4rem;
    height: fit-content;
    font-style: italic;
}

.output span {
    color: var(--Purple);
}